---
- name: zabbix_agent | Deploy zabbix-agent conf
  ansible.builtin.template:
    src: "zabbix_agent_psk.j2"
    dest: "{{ vars['zabbix_agent_psk_dest'] + '/zabbix_agent.psk' }}"
    group: "root"
    owner: "root"
    mode: "0644"
    force: "yes"
  when:
    - "vars['zabbix_agent_psk_string'] is defined"
    - "vars['zabbix_agent_psk_string'] != []"
  notify:
    - "Restart zabbix-agent"
